html 
    head 
        title Views Template 
        link(rel="stylesheet", href='css/style.css' type="text/css")
    body 
        p Html Views Page Using PUG
        p Styles
        img(src="images/sample.jpg", alt="image", srcset="")
        